/*Shane Healy ID C00278359*/
html{background-color: #D3C4B4;
}
nav ul { list-style-type: none;
}
nav a { text-decoration: none;
        font-size: 200%; 
        color: #C19C74;
        background-color: #AF773B;
        padding-right: 40px;
  }
nav li { display: inline; 
      width: 100%;
}
h1 {padding-top: 40px;
    text-align: center;
    color: #9D570D
}
p{margin-left: 35px;
  color: #9D570D;

}

.pic{ width: 400px; height: 400px;
      opacity: 0.7;
      position: absolute;  top: 200px;  left: 400px; 
}

table{
      margin-left: 10%;
      font-size: 3em;
      width: 80%;
      background-color: #6574A0;
}
th, td { border: 1.5px solid;  border-color: white;
       text-align: center;
       color: #10204F;
}
.heading {background-color: gray;
}
figure{max-width: 50%;
       margin-left: auto;
       margin-right: auto;
}
figcaption {text-align: center; 
           font-style: italic; 
            color: #9D570D;         
}
img:hover {transform: rotate(180deg);
-webkit-transform: rotate(180deg); 
-moz-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
}
table:hover { color: #AA7F00; background-color: #B19D60;
-webkit-transition: background-color 2s linear;
-moz-transition: background-color 2s linear;
-o-transition: background-color 2s linear;
transition: background-color 2s linear;
word-break: break-all;
}
iframe {position: absolute;  top: 100px;  left: 125px;  
width: 80%;height: 60%;
}
 @media only screen and (max-width: 600px) {
  body {font-size: 2vw }  }






